/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    padding: 1rem;
}

/* Subtitle */
h2 {
    color: purple;
}

/* Instructions, Terms and Factors */
.instructions {
    font-size: 1.25rem;
}

.terms {
    padding: 1.8rem;
    color: #D2386C;
}

.factors {
    font-family: "Roboto Mono", monospace;
    padding: 1.4rem;
    font-size: 1rem;
    color: #D2386C;
}

/* Number Information */
#numinfo {
    padding: 1.2rem;
    color: #009B77;
    font-size: 1.5rem;
}